/*formatações básicas INICIO */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Slabo+13px&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Quicksand','Slabo 13px',Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

:root{
    --v1c:#00ffa6;
    --v1e:#04774f;
    --v2c:#3CF22C;
    --v2e:#268d1d;
    --a1c:#007bff;
    --a1e:#023770;
    --c1:#535e63;
    --c2:#343a48;
    --c6:#3f4150;
    --c3:#222c2a;
    --c5:#282b34;
    --m1:#553720;
    --m2:#3a352f;
    --m3:#39282b;
    --red:#dc143c;
    --b1:#fff;
    --p1:#000;
}

header,section,footer,.insta{
    width: 100%;
    height: auto;
    position: relative;
}

li{
    list-style-type: none;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

/*formatações básicas FIM */

/*cabeçalho INICIO */

.social-medias{
    background:linear-gradient(to right,var(--p1),var(--c5));
}

.logos{
    color: var(--b1);
    cursor: pointer;
    padding: 0.5em;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

/* */

header{
    background:linear-gradient(to left,var(--v1c),var(--a1c));
    display: flex ;
    align-items: center;
}

/* */

.logo-header{
    padding: 2em 4em;
    display: flex;
    align-items: center;
}

.logo-header img{
    max-width: 200px;
}

.logo-header h1{
    margin-left: 0.2em;
    font-size: 5em;
    letter-spacing: 0.09em;
    font-family: 'Slabo 13px';
}

/* */

.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    justify-content:center;
}

.menu li{
    margin: 0 2em ;
    transition: 0.3s;
}

.menu a{
    text-transform: uppercase;
    color: var(--p1);
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover,.menu li:hover{
    filter: drop-shadow(5px 3px 10px var(--a1e));
    transform: translateY(-5px);
}

/*cabeçalho FINAL */

/*conteudo INCIO */

.linha{
    width: 90%;
    margin: auto;
}

.conteudo{
    width: 100%;
    max-width: max-content;
    height: auto;
    margin: 1em;
    padding: 1em;
    position: relative;
}

.conteudo .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0.5em;
    margin: 1em;
    background-color: var(--b1);
    border:2px solid var(--v1c) ;
    z-index: 2;
}

.conteudo h2{
    background-color: #268d1d;
    padding: 1em 1em 1em 2em;
    margin-left: -2em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: var(--b1);
    font-size: 2em;
}

/* */

.estudos-content{
    width: 100%;
    max-width: max-content;
    display: flex;
    margin:1em auto 3em auto;
    align-items: stretch;
}

.icon-img{
    width: 100%;
    height: 100px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    background-color: var(--v1c);
}

.estudos{
    width: 100%;
    max-width: max-content;
    border-radius: 20px;
    margin: 1em;
    border: 1px solid #ccc;
}

#oquesao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.estudos h2{
    font-size: 2em;
    text-align: center;
    padding: 0.9em 0.8em;
    cursor: pointer;
    transition: 0.4s;
    color: var(--v1e);
}

.mais_oquesao,.mais_gerais,.mais_respiracao,.mais_digestao,.mais_reproducao{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.mais_oquesao.girar,.mais_gerais.girar,.mais_respiracao.girar,.mais_digestao.girar,.mais_reproducao.girar{
    transform: rotate(225deg);
    color:var(--red);
}

#resultado_oquesao,#resultado_gerais,#resultado_respiracao,#resultado_digestao,#resultado_reproducao{
    display: none;
    width: 100%;
    max-width: 400px;
}

#resultado_oquesao.ativar,#resultado_gerais.ativar,
#resultado_respiracao.ativar,#resultado_digestao.ativar,
#resultado_reproducao.ativar{
    display: block;
    max-height: max-content;
}

#resultado_oquesao ul,#resultado_gerais ul{
    padding: 1em;
}

#resultado_oquesao ul li,#resultado_gerais ul li{
    padding: 0.2em 0;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.5em;
}

#resultado_oquesao .clique{
    cursor: pointer;
    font-size: 0.6em;
    font-style: italic;
}

.ordens{
    cursor: pointer;
}

#resultado_ordens{
    display: none;
    width: 100%;
    max-width: max-content;
    position: absolute;
    left:30.5%;
    bottom: 13.7em;
    background-color: var(--p1);
    color: var(--b1);
    border-radius: 30px;
}

#resultado_ordens .flecha{
    position: absolute;
    top: 50%;
    left: -15%;
    color:var(--p1) ;
    width: 40px;
    height: 40px;
}

#resultado_ordens.ativar{
    display: block;
}

#respiracao h2,#digestao h2,#reproducao h2{
    display: flex;
    margin: auto;
}

#resultado_respiracao p,#resultado_digestao p,#resultado_reproducao p{
    font-size: 1.5em;
    padding: 1em;
}

/* */

.ordens-content{
    width: 100%;
    height: auto;
    position: relative;
}

.ordens-sub-content{
    display: flex;
}

.ordens-list{
    width: 100%;
    max-width: 400px;
    margin:0 2em 2em 3em;
}

.ordens-list h2{
    font-size: 2.5em;
    text-transform: capitalize;
    text-align: center;
    padding: 0.3em 0;
}

.ordens-list ul li{
    list-style-type:disc ;  
    padding: 0.3em 0;
    font-size: 1.3em;
}

/* */

.animais{
    display: flex;
}

.animais-content{
    width: 50%;
    display:flex;
    flex-direction: column;
}

.resultado-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding:0 0 3em 0;
}

.pesquisar{
    display: flex;
    margin: 1em 0 0 2em;
    flex-direction: column;
}

.lista-animais{
    padding: 0 0 1em 0;
}

.lista-animais h2{
    font-size: 2em;
}

.lista-animais ul{
    padding: 1em 0;
}

.lista-animais li{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 2em;
}

#formulario{
    display: flex;
    flex-direction: column;
}

#txtanimal{
    width: 400px;
    padding: 0.5em;
    border-radius: 10px;
    outline: 0;
    border: 1px solid var(--p1);
    font-size: 1.5em;
}

#botao-pesquisar{
    border-radius: 20px;
    outline: 0;
    border: 1px solid var(--p1);
    padding: 0.2em;
    font-size: 2em;
    width: 100%;
    max-width: 300px;
    transition: 0.4s;
    background-color: var(--v1c);
    cursor: pointer;
    margin: 0.8em 0 1em 0;
}

#botao-pesquisar:hover{
    transform: translateY(-10px);
    color: var(--b1);
    background-color:var(--v1e) ;
    filter: drop-shadow(12px 15px 10px var(--v2c));
}

#resultado_pesquisar{
    display: block;
    border-radius: 20px;
}

.resultado-lista-animais li{
    font-size: 1.5em;
    width: 600px;
    padding: 0.2em;
}

.error,.insert{
    font-size: 3em;
}

.error{
    color: var(--red);
}

.insert{
    color: var(--p1);
}

#img-animal{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid var(--v1c);
    margin: 2em 0;
}

.img-axolote{
    width: 500px;
    height: 300px;
}

.img-sapo{
    width: 620px;
    height: 406px;
}

.img-ra{
    width: 500px;
    height: 330px;
}

.img-salamandra{
    width: 600px;
    height: 380;
}

.img-cobra-cega{
    width:500px ;
    height:300px ;
}

/* */

/*conteudo FINAL */

/*rodapé INCIO */

footer{
    background:linear-gradient(to left,var(--p1),var(--c6));
}

.desc-footer{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* */

.logo-footer{
    padding: 1em 0;
}

.logo-footer img{
    max-width: 150px;
}

/* */

.content-footer{
    width: 100%;
    display: flex;
    color:var(--b1);
}

.content-footer h2{
    text-align: center;
    font-size: 2em;
    color: var(--b1);
    font-weight: normal;
}

/* */

.social-footer{
    width: 100%;
    max-width: max-content;
    margin: auto;
}

.social-footer li{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

/* */

.sobre-desc{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.sobre-desc p{
    font-size: 1.5em;
}

/* */

.alunos{
    width: 100%;
    max-width: max-content;
    margin: auto;
    padding: 1em 0;
}

.alunos h2{
    padding: 0.3em 0;
}

.funcoes{
    padding: 0.3em 0;
}

.icons{
    width: 30px;
    height: 30px;
    margin-right: 0.4em;
}

.funcoes h3{
    padding: 0.3em 0;
    font-size: 1.4em;
}

.funcoes li{
    padding: 0.1em 0;
}

/* */

.copyright{
    width: 100%;
    background-color: var(--p1); 
    text-align: center; 
    padding:0.5em 0;
}

.copyright span{
    color: var(--b1);
    font-size: 1em;
}

/*rodapé FINAL */

#voltar{
    position: fixed;
    z-index: 2;
    right: 1em;
    bottom: 1em;
    padding: 1em;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: var(--c1);
    transition: 0.4s;
}

.seta-cima{
    font-size: 2em;
    color: var(--b1);
}

#voltar:hover{
    transform: translateY(-15px);
}
