*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Numans';
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.container{
	max-width: 1200px;
	text-align: center;
}

/* */

header{
	width: 100%;
	height: auto;
	border-bottom: 10px solid #e37f14;
	border-radius: 25px;
}

header a{
	text-decoration: none;
	font-size: 30px;
}

header .linklogo{
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

header img{
	border-radius: 30px;
	height: inherit;
	width: 250px;
	margin-top: 10px;
}	

header img:hover{
	background-color: #e37f14;
	cursor: pointer;
	transition: 0.5s;
}

header .supermercadologo img{
	margin-bottom: 20px;
	margin-top: -150px;
	margin-right: 50px;
	float: right;
	height: inherit	;
}

header .supermercadologo img:hover{
	cursor: auto;
}

header .supermercadologo h1{
	border-top-left-radius:10px ;
	border-bottom-left-radius: 10px;
	border-top-right-radius:40px ;
	border-bottom-right-radius: 40px;
	width: 400px;
	padding: 20px;
	font-size: 50px;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: -100px;
}

header .supermercadologo h1:hover{
	border-top-left-radius:20px ;
	border-bottom-left-radius: 20px;
	width: 500px;
	background-color: #e37f14;
	transition: 0.6s;
}

/* */

article{
	width: 100%;
	height: auto;
}

article h2{
	margin: 40px 50px;
}

article .comprar{
	vertical-align: top;
	display: inline-block;
	padding: 10px;
	margin: 0 auto;
	border-radius: 20px;
}

article .comprar img{
	margin: 20px 50px;
	width: 150px;
	height: 150px;
}

article .comprar h3{
	text-align: center;
}

article .comprar h1{
	margin-top: 30px;
	text-align: center;
}

article .comprar h2{
	margin: 15px 0;
	text-align: center;
	letter-spacing: 2px;
	font-size: 20px;
}

article .comprar button{
	margin:  0 auto;
	padding: 15px;
	width: 250px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 30px;
	border: 0;
	background-color:#ccc ;
	box-shadow: 0px 4px 7px;
}

article .comprar button:hover{
	box-shadow:0px 8px 15px ;
	transition: 0.3s;
	cursor: pointer;
	color:black ;
	background-color: #00f7ff;
	transform: translateY(-5px);
}

article .mercados{
	display: inline-block;
	padding: 10px;
	margin: 0 20px;
	margin-top: 5em;
	margin-bottom: 0;
}

article .mercados h2{
	margin: 0;
	font-size: 30px;
}

article .mercados p{
	font-size: 20px;
}

article .mercados img{
	border-radius: 15px;
	width: 300px;
	height: 150px;
}

/* */

footer{
	border-top: 5px solid #260bd6;
	margin-top: 100px;
	width: 100%;
	height: auto;
	background-color: #190d61;
	padding: 20px;
}

footer p{
	margin-top: -50px;
	float: right;
	color: #ccc;
	font-size: 20px;
	text-align: right;
}

footer .rrlogo img{
	border-radius: 100px;
	margin: 10px 20px;
	float: left;
	height: inherit;
	width: 100px;
}

footer .rrlogo img:hover{
	padding: 10px;
	transition: 1s;
	background-color: #260bd6;
}

footer .socialmedias{
	display: inline-block;
	height: inherit;
	width: 300px;
	margin-top: -5em;
}

footer .socialmedias img{
	display: inline-block;
	width: 50px;
	margin: 12px;
}

footer .insta,.face,.twitter{
	padding: 10px;
	display: inline-block;
	border-radius: 50px;
}

footer .insta:hover{
	animation: ;
	transition: 0.5s;
	background-image: linear-gradient(#2121b8,#c714a3,#edc92b);
}

footer .twitter:hover{
	transition: 0.5s;
	background-color:#0694d1 ;
}

footer .face:hover{
	transition: 0.5s;
	background-color: #2121b8;
}

/* */

@media only screen and (max-width: 1330px){

	header .linklogo{
		margin: 0;
		width: 	100%;
	}

	header .supermercadologo h1{
		margin:1em auto ;	
	}

	header .supermercadologo img{
		float: none;
		margin: 2em auto;
	}

	/* */

	article .comprar{
		margin: 0 auto;
	}

	/* */

	footer{
		width: 100%;
	}

	footer .rrlogo{
		display: inline-block;
		margin: 3em auto;
	}

	footer .socialmedias{
		margin: 0 auto;
		margin-top: -3em;
	}

	footer p{
		display: none;
	}

}