@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;300;700&family=Candal&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Anek Telugu','Candal',Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html,body{
    width: 100%;
    height: 100%;
}

:root{
   --vc1:#00ffa6;
}

header,footer{
    width: 100%;
    height: 100%;
    position: relative;
}

.container{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
