/*HEADER COMEÇO */

header{
    background-image: url('../imagens/backgrounds/pack2/fundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% cover;
    box-shadow: 3px 4px 10px #0a393f;
}

.header-content{
    display: flex;
    align-items: center;
}

.logoH{
    position: relative;
}

.logoH img{
    margin: 1.5em;
    max-width: 100px;
}

.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    transition: 0.4s;
    font-size: 2em;
    text-transform: uppercase;
}

.menu a{
    margin: 0 1.5em;
    color: #000000;
}

.menu li:hover{
    transform: translateY(-5px);
}

form{
    margin-top: 1em;
    margin-left: 1em;
    font-size: 2em;
    display: flex;
    text-align: center;
}

form .objetivos-content{
    display: flex;
    flex-direction: column;
}

form .objetivos-content label{
    display: flex;
}

#altura,#peso{
    font-size: 0.5em;
    width: 100%;
    padding: 0.5em;
    margin: 0.2em 0.9em;
}

#nome{
    font-size: 0.5em;
    padding: 0.5em;
    margin: 0.2em 0.9em;
    width: 100%;
}

form button{
    max-width: max-content;
    max-height: max-content;
    font-size: 2em;
    margin-left: 0.5em;
}

#resultado_proteinas{
    font-size: 2em;
    margin: auto;
    text-align: center;
    margin:1em auto 0 auto;
    max-width: max-content;
}

/*HEADER FINAL */
