/*HEADER COMEÇO */

header{
    background-image: url('../imagens/backgrounds/pack2/fundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
    box-shadow: 3px 4px 10px #0a393f;
}

.header-content{
    display: flex;
    align-items: center;
}

.logoH{
    position: relative;
}

.logoH img{
    margin: 1.5em;
    max-width: 100px;
}

.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    transition: 0.4s;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
}

.menu li:hover{
    transform: translateY(-7px);
}

.menu a{
    margin: 0 1.5em;
    color: #000000;
}

.mesa-content{
    position: relative;
    top: 50%;
    display: inline-flex;
}

.mesa{
    width: 100%;
}

.titulo-proteinas{
    width: 100%;
    z-index: 5;
    position: absolute;
    text-align: center;
    font-size: 4.5em;
    bottom: 75%;
    text-transform: uppercase;
}

.titulo-proteinas span{
    color: var(--vc1);
}

.bequer-fundo-content1{
    position: absolute;
    bottom: 50%;
    left: 10%;
    width: 100%;
    display: flex;
    max-width: max-content;
    justify-content: flex-start;
}

.b-rosa{
    max-width: 250px;
    height: 400px;
    filter: drop-shadow(18px 15px 15px #0a393f);
}

.b-azulE{
    position: relative;
    top: 3em;
    width: 100px;
    height: 350px;
    filter: drop-shadow(18px 15px 15px #0a393f);
}

.bequer-fundo-content2{
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 100%;
    display: flex;
    max-width: max-content;
    justify-content: flex-start;
}

.b-ciano{
    width: 200px;
    height: 350px;
    filter: drop-shadow(-15px 25px 20px #0a393f);
}

.b-roxo{
    width: 200px;
    height: 350px;
    filter: drop-shadow(-5px 25px 20px #0a393f);
}

.bequer-fundo-content3{
    position: absolute;
    bottom: 50%;
    right: 20%;
    width: 100%;
    display: flex;
    max-width: max-content;
    justify-content: flex-end;
}

.b-amarelo,.b-salmao{
    width: 100px;
    height: 350px;
    filter: drop-shadow(18px 15px 15px #0a393f);
}

.bequer-fundo-content4{
    position: absolute;
    bottom: 20%;
    right: 3%;
    width: 100%;
    display: flex;
    max-width: max-content;
    justify-content: flex-end;
}

.b-laranja{
    width: 300px;
    height: 350px;
    filter: drop-shadow(18px 15px 15px #0a393f);
}

.b-azulC{
    width: 250px;
    height: 350px;
    filter: drop-shadow(18px 15px 15px #0a393f);
}

/*HEADER FINAL */

/*SECTION INICIO */


