/*HEADER COMEÇO */

header{
    background-image: url('../imagens/backgrounds/fundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% cover;
}

.header-content{
    display: flex;
    align-items: center;
}

.logoH{
    position: relative;
}

.logoH img{
    margin: 1.5em;
    max-width: 100px;
}

.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    transition: 0.4s;
    font-size: 2em;
    text-transform: uppercase;
}

.menu a{
    margin: 0 1.5em;
    color: #000000;
}

.menu li:hover{
    transform: translateY(-5px);
}

form{
    font-size: 2em;
    display: flex;
    text-align: center;
}

form .objetivos-content{
    display: flex;
    flex-direction: column;
}

form .objetivos-content label{
    display: flex;
}

form input[type=text],
form input[type=number]{
    display: flex;
    margin: auto;
    width: 400px;
    font-size: 1em;
    padding: 0.2em;
    border-radius: 10px;
    outline: 0;
    border: 1px solid black;
}

form button{
    max-width: max-content;
    max-height: max-content;
    font-size: 2em;
}

#resultado_proteinas{
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

#erros{
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

/*HEADER FINAL */