@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;700&family=Plus+Jakarta+Sans:wght@200;300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium','Plus Jakarta Sans',Arial, Helvetica, sans-serif;
    list-style-type: none;
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    margin: auto;
    max-width: 1300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --v:#ff0000;
    --v2:#6b0d0c;
    --b:#ffffff;
    --b2:#e0dede;
    --p:#000000;
    --p2:#1a1a1a;
    --c:#b8b4b4;
}

/* */

.socialmedia{
    width: 100%;
    position: relative;
    background-color: var(--p2);
}

.insta{
    padding: 0.5em 0.2em;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--b2);
}

.insta:hover{
    transform: scale(1.2);
}

/* */

header{
    width: 100%;
    position: relative;
    background:linear-gradient(to right, var(--v),var(--v2));
}

.logo-header{
    padding: 1em;
    width: 100%;
}

.logo-header img{
    max-width: 200px;
    filter: drop-shadow(20px 25px 12px var(--v2));
}

.logo-header h1{
    text-align: left;
    font-size: 3em;
    margin-left: 0.5em;
}

.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu li{
    margin-right: 2em;
    transition: 0.3s;
}

.menu li a{
    text-transform: uppercase;
    color: var(--b2);
    font-weight: 700;
    font-size: 1.2em;
    transition: 0.3s;
    font-family: 'Oxanium';
}

.menu li a:hover{
    color: var(--v);
}

.menu li:hover{
    transform: scale(1.2);
}

nav{
    width: 100%;
    position: relative;
    background-color: #460b0a;
}

nav ul{
    display: flex;
    max-width: max-content;
    margin: auto;
} 

nav li{
    text-transform: uppercase;
    margin: 1em 2em;
    font-size: 1.5em;
    font-weight: 700;
    transition: 0.3s;
    text-decoration: none;
    color: #e0dede;
    cursor: pointer;
}

nav li:hover{
    filter: drop-shadow(3px 2px 10px var(--b2));
}

.fechar{
    width: 35px;
    height: 35px;
    transition: 0.2s;
    cursor: pointer;
}

.fechar:hover{
    color: var(--v);
    transform: scale(1.2);
}

#res_gue,#res_rev{
    padding: 2em;
    display: none;
    width: 100%;
    max-width: max-content;
    margin: auto;
    background:linear-gradient(to right, var(--b2),var(--c));
    border-radius: 10px;
    border: 2px solid var(--p2);
}

.texto{
    padding: 2em;
    width: 100%;
    max-width: max-content;
    margin: auto;
}

#res_gue.ativar,#res_rev.ativar{
    display: block;
}

#res_gue h2,#res_rev h2{
    padding: 0.2em 0 0.5em 0;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    max-width: max-content;
    margin: auto;
    font-family:'Plus Jakarta Sans';
    filter: drop-shadow(2px 3px 10px var(--p2));
}

.guerra{
    margin:2em auto;
    display: flex;
}

#res_gue ul,#res_rev ul{
    padding: 1em 0;
    margin: auto;
    max-width: max-content;
    width: 100%;
}

#res_gue li,#res_rev li{
    font-size: 2em;
    font-family:'Plus Jakarta Sans' ;
}

.times-content{
    display: flex;
}

.times{
    margin: auto;
    display: flex;
    max-width: 100px;
}

#francisco,#vladimir{
    transition: 0.3s;
    cursor: pointer;
}

.saiba{
    font-size: 0.5em;
    text-align: right;
}

#res_fran,#res_vlad{
    display: none;
    background: linear-gradient(var(--p),var(--p2));
    color: var(--b);
    padding: 2em;
    width: 100%;
    max-width: max-content;
    border-radius: 10px;
    position: absolute;
    left: 64%;
}

.fechar-fran,.fechar-vlad{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 30px;
    height: 30px;
    transform: 0.3s;
    cursor: pointer;
    transition: 0.3s;
}

.fechar-fran:hover,.fechar-vlad:hover{
    transform: scale(1.2);
    color: var(--v);
}

#res_fran.ativar,#res_vlad.ativar{
    display: block;
}

#res_fran img,#res_vlad img{
    border-radius: 10px;
}

#res_fran li,#res_vlad li{
    font-size: 1.2em;
    text-align: left;
}

.flecha{
    color: var(--p);
    position: relative;
    right: 8.5em;
    width: 40px;
    height: 40px;
}

/* */

section{
    width: 100%;
    position: relative;
    margin: 2em 0;
}

.temas{
    position: relative;
    margin: 2em 0;
    width: 100%;
}

.temas h2{
    text-align: left;
    max-width: max-content;
    font-size: 2em;
}

.temas ul{ 
    padding: 0.5em 0;
}

.temas li{
    font-family: 'Plus Jakarta Sans';
    display: grid;
    font-size:1.5em;
    text-align: left;
}

.exp{
    width: 100%;
    padding: 0 2em;
    display: grid;
}

.gue_mov{
    width: 100%;
    padding: 1em 2em;
    display: grid;
}

.plano{
    width: 100%;
    padding: 1em 2em;
    display: grid;
}

.plano h3{
    margin-top: 1em;
    font-size: 1.2em;
}

.trincheiras li{
    font-size: 1.1em;
}

.fontes{
    z-index: 2;
    position: relative;
    bottom: 2em;
    left: 2em;
    max-width: max-content;
}

.fontes a{
    font-size: 1.5em;
    color: var(--p2);
}

/* */

footer{
    width: 100%;
    position: relative;
    background-color: var(--p);
}

.copy{
    text-align: center;
    padding: 1em 0;
}

.copy span{
    font-size: 1.2em;
    color: var(--b2);
    font-weight: 300;
    font-family: 'Plus Jakarta Sans';
}

.socialmedia-f{
    padding: 0 1em;
}

.estudantes{
    color: var(--b);
    background:linear-gradient(to right, var(--p),var(--p2));
    width: 50%;
    position: relative;
    padding: 2em 0;
}

.estudantes h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 0.5em;
}

.funcoes{
    display: flex;
    width: 100%;
    max-width: max-content;
    margin: auto;
}

.icone{
    width: 40px;
    height: 40px;
}

.alunos{
    padding: 0.5em 1em;
    display: block;
}

.alunos h3{
    font-size: 1.5em;
    text-transform: capitalize;
}

.alunos span{
    text-transform: capitalize;
    font-size: 1.2em;
    font-family: 'Plus Jakarta Sans';
}

.sobre{
    color: var(--b);
    background:linear-gradient(to left, var(--v2),var(--p2));
    width: 50%;
    position: relative;
    padding: 2em 0;
}

.sobre h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
}

.sobre p{
    padding: 1em 0;
    font-size: 1.5em;
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin: auto;
    font-family: 'Plus Jakarta Sans';
}
